body 
{
	margin: 0;
	padding: 0;
	-webkit-text-size-adjust:none;			/* Turn off font resizing */
}

ul	
{

	font-size:20px;             /* All text content is 20 pixels */
	font-family: Helvetica;
	font-weight:bold;
	color:black;
	
	margin: 0;               /* The list fills the whole iPhone screen */
	padding: 0;
	
	width: 320px;           /* Each cell is 320 pixels wide */
	background-color: white;
}


li
{
	list-style-type: none;
	
	border-top-width:1px;                    /*	 Add a line at the top of every cell */
	border-top-color:rgb(217,217,217);
	border-top-style:solid;
	
	padding-top:10px;
	padding-right:10px;
	padding-bottom:14px;
	padding-left:10px;
	
	height:19px;       /* The total cell height includes the padding-top, padding-bottom, border and height values: 10+14+1+19=44 pixels */
	line-height:19px;  /* Ensure that the height of the cell includes the line at the top of the cell  */
}


li:first-child
{
	border-top:0;   /* Remove the line above the first item of the list */
}

.secondary	/* Used for secondary text (text that is less important) */
{
	font-weight:normal;      /* Regular font is used for secondary text */
	float:right;	         /* Align secondary text to the right of its parent cell */
	margin-right:10px;	  
	line-height:20px;	  /* Vertically center text on the row */
}

a {
    text-decoration:none;
}

.secondaryWLink	/* Used for secondary text that is a link */
{
	font-weight:normal;		
	float:right;		   
	margin-right:10px;	
	
	color: #324F85;		 /* sets the color of the link */
	line-height:20px;   /* Vertically center text on the row */
}


.button 
{
	display:block;
	
	padding:0;
	padding-right: 5px;        /* Indent text on the button */
	padding-left: 5px;
	
	height: 29px;            /* control is 29 pixels high */
	line-height: 29px;
	
	font-weight: bold;
	font-family:Heveltica;
	font-weight:bold;
	font-size: 12px;       /* Text displayed is 12 pixels */
	
	color: #FFFFFF;
	background-color:black;  

	text-align:center;
	text-shadow: #000 1px 1px 1px;
	border: solid gray 1px;           /* Creates a rectangle around a text */
	-webkit-border-radius: 5px;      /* Rounds each corner of the created rectangle */
	
	margin-top:-4px;
	float:right;                  /* Align button to the right */ 
	margin-right:10px;           
}

/* from inline css */
body {
  margin: 0;
  font-family: Helvetica;
  overflow-x: hidden;
  -webkit-user-select: none;
  -webkit-text-size-adjust: none;
}
.toolbar1 {
  background-color: #3b9859;
  display: block;
  padding: 7px 0px;
  color: #ffffff;
  font-size: 14px;
  font-weight: bold;
  text-shadow: rgba(0, 0, 0, 0.6) 0 1px 0;
}
.hilite {
background-color:#FFD700;
}
.scorelink { color:white; text-decoration:underline }
.scorelink a { color:white; text-decoration:underline }
.scorelink a:visited { color:white; text-decoration:underline }